@import "./node_modules/bootstrap/scss/bootstrap.scss";

.bg-custom-color{
    --bs-bg-opacity: 1;
    background-color: red !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .bg-grey{
    background-color: gray !important;
  }