header{
    background-color: #fe0000;
}
nav{
    background-color: #007fff;
}
section{
    background-color: #fec6c5;
}
aside{
    background-color: #fe80fe;
}
footer{
    background-color: #80ff00;
}