header{
  background-color: black;
  color: white;
}
body{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
    height: 100vh;;
}
nav{
  background-color: red;
  color: white;
}
.hero{
  background-color: slateblue;
}
p{
  color: white;
  text-align: center;
}
.main{
  background-color: darkslateblue;
}